@import url("http://fonts.googleapis.com/css?family=bad+script");
.body{
    margin: 0;
    padding: 0;
}
.img{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    
}
.box .innerbox form input {
    height: 40px;
    min-height: 40px;
}

.box{
    width: 65%;
    height: 300px;
   
    text-align:justify;
   
    color: black;
    font-family: sans-serif;
}    
.box p{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    text-align:justify;
}
.box p1{
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: 50;
    text-align:center;
}
.a-button-inner{
    cursor: pointer;
    
    border-radius: 10%;
    color: aqua;
    
}

.aishu{
    color: green;
    font-style: oblique;
text-transform: uppercase;
}
.aishu1{
    color: cadetblue;
    font-style: italic;
}
.aishu2{
    color:slategrey;
}


.contextualIngressPtPin {
    min-width: 16px;
    height: 14px;
    float: left;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/DeliveryStaticPackard-pin_desktop_1x-c944b68…._V2_.png);
    background-size: auto;
    margin-right: 5px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-position: center center;
}


h1{
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 5em;
    
}
h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}
h1 span:nth-child(0){
    animation-delay: 0s;
}
h1 span:nth-child(1){
    animation-delay: 0.25s;
}
h1 span:nth-child(2){
    animation-delay: 0.5s;
}
h1 span:nth-child(3){
    animation-delay: 1s;
}
h1 span:nth-child(4){
    animation-delay: 1.5s;
}
h1 span:nth-child(5){
    animation-delay: 1.7s;
}
h1 span:nth-child(6){
    animation-delay: 2s;
}
h1 span:nth-child(7){
    animation-delay: 2.2s;
}
@keyframes animate{
    0%,100%{
        color: white;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff;
                     0 0 20px #00b3ff;
                   0 0 40px #00b3ff;
                     0 0 60px #00b3ff;
                     0 0 80px #00b3ff;
                    0 0 100px #00b3ff;
                  0 0 120px #00b3ff;
                     0 0 200px #00b3ff;
        
                    
                  
    }
     5%,90%{
        color: #111;
        filter: blur(0px);
         text-shadow: 0 0 10px none;
    }
}
}
